.section-heading {
  margin-bottom: var(--space-xl);
  max-width: 720px;
}

.section-heading--center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-heading--center .lead {
  margin-left: auto;
  margin-right: auto;
}
